<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}
  <body>
    <div class="container pure-g academic-container">
      <div class="sidebar-left pure-u-1 pure-u-md-1-4" style="background-color: {{ site.cover_bg_color | default: '#fff' }}; color: {{ site.cover_color | default: '#444' }};">
        {%- include sidebar-left.html -%}
      </div>

      <div class="content pure-u-1 pure-u-md-3-4 academic-content">
        {%- include content.html -%}
      </div>
    </div>

    <script async src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"></script>
  </body>
</html>
